In [5]:
import plotly.express as px
import pandas as pd

df = pd.read_csv('臺北市高中高職新生入學方式.csv',encoding='ANSI')

df

    學年度別 設立別 學制別     總計 甄選入學  申請入學   登記分發  直升入學  免試入學    其他
0    92年  總計  高中  26790  853  4424  16557  1223     -  3733
1    92年  總計  高職  15506  201  3224   6416    29     -  5636
2    92年  國立  高中   1060   89   166    699    74     -    32
3    92年  國立  高職      -    -     -      -     -     -     -
4    92年  市立  高中  17831  611  3492  12831   423     -   474
..   ...  ..  ..    ...  ...   ...    ...   ...   ...   ...
83  102年  國立  高職    140    -    21      -    85     -    34
84  102年  市立  高中  17175  766  4497   4586   629  6499   198
85  102年  市立  高職   5073   20   949   1044     -  2908   152
86  102年  私立  高中   4584    4  1021    820  1198   595   946
87  102年  私立  高職   8789   23   969    457    12  4099  3229

[88 rows x 10 columns]

In [16]:
import numpy as np

df['甄選入學'] = df['甄選入學'].replace('-', np.nan) #將數據中'-'忽略
df['申請入學'] = df['申請入學'].replace('-', np.nan)
df['登記分發'] = df['登記分發'].replace('-', np.nan)

df['甄選入學'] = df['甄選入學'].fillna(0).astype(int) #把數據中的"NAn"替換成0
df['申請入學'] = df['申請入學'].fillna(0).astype(int)
df['登記分發'] = df['登記分發'].fillna(0).astype(int)

In [17]:
fig = px.scatter_ternary(df, a="甄選入學", b="申請入學", c="登記分發", hover_name="學年度別",
     size="總計", size_max=15,
    color_discrete_map = {"甄選入學": "blue", "申請入學": "green", "登記分發":"red"} )
fig.show()

TypeError: unsupported operand type(s) for /: 'str' and 'int'